/* Estilo para o corpo da página */
body {
    background-color: teal; /* Define a cor de fundo da página como teal */
    font-family: 'Roboto', sans-serif; /* Define a fonte da página como Roboto */
    margin: 0; /* Remove a margem padrão do corpo */
    padding: 10px; /* Remove o padding padrão do corpo */
}

/* Estilo para a área principal */
main {
    background-color: lightgray; /* Define a cor de fundo da área principal como cinza claro */
    width: 80%; /* Define a largura da área principal como 80% da largura da página */
    margin: 0 auto; /* Centraliza a área principal horizontalmente */
    padding: 30px; /* Adiciona um padding de 20px ao redor da área principal */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    margin-bottom: 50px;
}

footer {
    margin-top: 35px;
    margin: auto;
    background-color: aliceblue;
    font-size: 12px;
    width:500px;

}